/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: kumbh Sans, sans-serif;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Utilities Classes */
.overflow {
    overflow: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.grid {
    display: grid;
}

.center {
    text-align: center;
}

.block {
    display: inline-block;
}

.images {
    max-width: 100%;
    display: inline-block;
}

.gap {
    gap: 1.5rem;
}

.container {
    width: 80%;
    margin-inline: auto;
}

.hover {
    cursor: pointer;
}

.color {
    color: var(--Orange);
}

.strike {
    text-decoration: line-through;
    font-size: 1.4rem;
    color: var(--Dark-grayish-blue);
    font-weight: 600;
}

/* variables */

:root {
    /* primary-colors */

    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);

    /* neutral-colors */

    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsla(0, 0%, 0%, 0.75);
}

/*-Main Css */

html {
    font-size: 10px;
}

header {
    justify-content: space-between;
    border-bottom: 1px solid hsl(0deg 0% 83.31%);
    height: 100px;
    position: relative;

    .hamburger {
        font-size: 25px;
        font-weight: 700;
        display: none;
    }

    nav {
        gap: 3rem;

        ul {
            gap: 3rem;
            font-size: 12px;
        }

        #cross {
            display: none;
        }

        a {
            color: var(--Black);
            transition: all .25s ease-in-out;
            font-weight: 600;

            &:hover {
                color: var(--Orange);
            }
        }
    }

    .profile {
        gap: 3rem;

        img {
            &:nth-child(2) {
                width: 40px;
            }

            &:nth-child(1) {
                width: 20px;
            }
        }

        .drop-down {
            position: absolute;
            width: 380px;
            background: white;
            z-index: 100;
            border-radius: 6px;
            box-shadow: 0px 10px 20px 1px #bab4b48c;
            right: 0;
            top: 75px;
            grid-template-columns: 1fr;
            display: none;

            .card-text {
                font-size: 20px;
                padding: 20px 25px;
                font-weight: 700;
                border-bottom: 1px solid hsl(0deg 0% 92.91%);

                span{
                    float: right;
                }
            }

            .empty {
                font-size: 15px;
                padding-block: 3rem;
            }

            .drop-down-description {
                padding: 20px 25px 30px 25px;
            }

            .drop-down-text {
                font-size: 16px;
                line-height: 24px;
            }

            .drop-down-image {
                width: 50px;
                border-radius: 4px;
            }

            #arrange {
                justify-content: space-between;
                gap: 2rem;
            }

            .deletesvg {
                width: 20px;
            }

            .cart-information {
                gap: 2rem;
                flex-direction: column;
                margin-bottom: 20px;
            }

            .drop-down-btn {
                width: 100%;
                padding-block: 13px;
                margin-top: 20px;
                border-radius: 6px;
                border: none;
                font-weight: 600;
                background: var(--Orange);
                color: white;
            }
        }
    }
}

.hero-container {
    margin-top: 6rem;
    max-width: 1100px;
    margin-inline: auto;
}

.product-image-container {
    width: 35%;

    .sequence {
        width: 100%;
    }


    .mini-images-container {
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.8rem;
        margin-top: 2.6rem;

        img {
            width: 100%;
            border-radius: 7px;
        }
    }
}

.navigate {
    width: 100%;
    padding-inline: 18px;
    position: absolute;
    height: 100%;
    justify-content: space-between;

    img {
        width: 10% !important;
        filter: brightness(10.5);
        display: none;
    }
}

.product-image-container div img {
    width: 100%;
    border-radius: 16px;
}

.product-information-container {
    width: 65%;
    padding: 8rem;

    h3 {
        color: var(--Orange);
        font-size: 1.4rem;
    }

    h1 {
        font-size: 4rem;
        font-weight: 700;
        line-height: 40px;
        margin: 12px 0 28px 0;
    }

    p {
        font-size: 1.5rem;
        line-height: 23px;
    }

    .price {
        font-size: 3rem;
        gap: 2.5rem;
        margin: 15px 0 15px 0;
        font-weight: 600;

        span {
            color: var(--Orange);
            background: var(--Pale-orange);
            padding: 5px 7px;
            font-size: 1.4rem;
        }
    }

    .product-quantity-container {
        gap: 2rem;
        margin-top: 40px;

        .quantity-box {
            width: 180px;
            padding-block: 1.8rem;
            border-radius: 6px;
            grid-template-columns: repeat(3, 1fr);
            background: var(--Light-grayish-blue);
            place-items: center;
        }

        .plus,
        .minus {
            font-weight: 600;
            cursor: pointer;
            width: 2rem;
        }

        .quantity {
            font-size: 2rem;
            font-weight: 600;
        }

        button {
            padding-block: 1.8rem;
            padding-inline: 9rem;
            border-radius: 6px;
            border: none;
            font-weight: 600;
            background: var(--Orange);
            color: white;
            cursor: pointer;
            transition: all .23s ease-in-out;

            &:hover {
                box-shadow: 0px 1px 10px var(--Orange);
            }

            img {
                filter: brightness(2.5);
                width: 18px;
            }
        }
    }
}


/* media-queries */

@media (max-width: 1255px) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 1167px) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 1094px) {
    html {
        font-size: 7px;
    }

    .product-information-container {
        h3 {
            font-size: 1.7rem;
        }

        h1 {
            margin-bottom: 10px;
        }

        p {
            font-size: 2rem;
        }

        .price {
            font-size: 4rem;

            span {
                font-size: 1.8rem;
            }
        }

        .strike {
            font-size: 2rem;
        }
    }
}

@media (max-width: 950px) {
    html {
        font-size: 6px;
    }

    button {
        font-size: 2.3rem;

        #cart-icon {
            width: 15px;
        }
    }
}

@media (max-width: 878px) {
    html {
        font-size: 5px;
    }

    #quantity-boxx {
        width: 100%;

        .quantity {
            font-size: 3rem;
        }

        img {
            width: 3rem;
        }
    }

    .product-quantity-container {
        flex-direction: column;
    }


    .product-quantity-container {
        gap: 2rem;

        button {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .product-information-container {
        h3 {
            font-size: 2.5rem;
        }

        h1 {
            margin-bottom: 5px;
            font-size: 5rem;
        }

        p {
            font-size: 3rem;
        }

        .price {
            font-size: 4rem;

            span {
                font-size: 1.8rem;
            }
        }

        .strike {
            font-size: 3rem;
        }
    }
}

@media (max-width: 754px) {
    html {
        font-size: 4px;
    }

    header {
        width: 100%;
        border: none;

        nav #list {
            display: block;
        }
    }

    header nav #list {
        transition: all .3s ease-in-out;
        position: absolute;
        display: flex;
        flex-direction: column;
        opacity: 1;
        left: -400px;
        top: 30px;
        padding-left: 20px;
        padding-top: 20px;
        width: 260px;
        background: white;
        box-shadow: 4px 0px 20px #8a8383;
        padding-bottom: 20px;
        border-radius: 10px;

        a {
            font-weight: 800;
        }

        #cross {
            display: block;
            font-size: 8rem;
            font-weight: 600;
            margin-bottom: 20px;
        }
    }

    #drop-menu {
        width: 350px;
    }


    header .hamburger {
        cursor: pointer;
        display: block;
    }

    header #logo {
        margin-left: 10px;
    }

    #avatar {
        margin-left: 10px;
        width: 30px;
    }

    .hero-container {
        margin-top: 10px;
    }

    .product-image-container {
        width: 39%;
    }
}

@media (max-width: 680px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .profile {
        #drop-menu {
            width: 98%;
            margin: auto;
            top: 109px;
        }
    }

    .navigate {

        img {
            display: block;
        }
    }

    header {
        padding-inline: 26px;
    }

    header nav #list {
        top: 0;
        height: 100vh;
        border-radius: 0;
    }

    #drop-menu {
        width: 100vh;
        left: 0;
        box-shadow: none;
    }

    .hero-container {
        margin: auto;
        flex-direction: column;
    }

    .product-image-container {
        width: 100%;

        .sequence>img {
            border-radius: 0px;
        }

        .mini-images-container {
            display: none;
        }
    }

    .product-information-container {
        width: 100%;

        h3 {
            font-size: 3rem;
        }

        h1 {
            font-size: 13rem;
            line-height: 60px;
        }

        p {
            font-size: 4rem;
        }

        .price {
            font-size: 8rem;

            span {
                font-size: 4rem;
            }
        }

        .strike {
            font-size: 4rem;
        }

        .product-quantity-container {
            flex-direction: column;

            #quantity-boxx {
                padding-block: 5rem;
                margin-bottom: 10px;

                img {
                    width: 6rem;
                }
            }

            #number {
                font-size: 6rem;
            }

            button {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding-block: 5rem;
                font-size: 4rem;

                #cart-icon {
                    width: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}


@media (max-width: 470px) {
    html {
        font-size: 3.4px;
    }

    .product-information-container {
        h3 {
            font-size: 4rem;
        }

        h1 {
            font-size: 8rem;
        }
    }
}

@media (max-width: 418px) {
    html {
        font-size: 3.2px;
    }

    .product-information-container {
        h3 {
            font-size: 4rem;
        }

        h1 {
            font-size: 8rem;
            line-height: 30px;
        }
    }
}